.card{
margin:10px;
width: 100%;
text-align: center;
}
p{
    margin-bottom:0px;
}
.pic{
height:200px;
}
.text{
    height: 100%;
    display: inline-block;
    width: 65%;
}
.poster{
    height: 100%;
    text-align: center;
    float: left;
    width:15%;
}
